/* OEM Font Embed */
@font-face {
font-family: "nissan-light";
src: url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Light.eot");
src: url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Light.eot?#iefix") format("embedded-opentype"),
url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Light.woff") format("woff"),
url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Light.woff2") format('woff2'),
url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Light.ttf") format("truetype");
font-weight: 300;
font-style:normal
}

@font-face {
font-family: "nissan-brand-regular";
src: url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Regular.eot");
src: url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Regular.eot?#iefix") format("embedded-opentype"),
url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Regular.woff") format("woff"),
url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Regular.woff2") format('woff2'),
url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Regular.ttf") format("truetype");
font-weight: 400;
font-style: normal
}

@font-face {
font-family: "nissan-bold";
src: url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Bold.eot");
src: url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Bold.eot?#iefix") format("embedded-opentype"),
url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Bold.woff") format("woff"),
url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Bold.woff2") format('woff2'),
url("https://AgileCreativeSolutions.github.io/NissanBrandFont/NissanBrand-Bold.ttf") format("truetype");
font-weight: 700;
font-style:normal
}
/* OEM Font Embed */



/* OEM Font */
.acs-wrapper { 
font-family: "nissan-brand-regular", sans-serif;
font-weight: 400;
}
/* OEM Font */



/* Heading Tags */
.acs-h1, .acs-h2, .acs-h3, .acs-h4, .acs-h5, .acs-h6 {
font-family: "nissan-light", "nissan-brand-regular", sans-serif;
font-weight: 300;
line-height: 1.2;
}

.acs-h1 {
font-size: 2rem;
}

.acs-h2 {
font-size: 1.8rem;
}

.acs-h3 {
font-size: 1.6rem;
}

.acs-h4 {
font-size: 1.4rem;
}

.acs-h5 {
font-size: 1.2rem;
}

.acs-h6 {
font-size: 1.1rem;
}

/* Larger than phablet */
@media (min-width: 575px) {
.acs-h1 {
font-size: 2.5rem !important;
}

.acs-h2 {
font-size: 2.2rem !important;
}

.acs-h3 {
font-size: 1.8rem !important;
}

.acs-h4 {
font-size: 1.6rem !important;
}

.acs-h5 {
font-size: 1.4rem !important;
}

.acs-h6 {
font-size: 1.2rem !important;
}
}
/* Heading Tags */



/* OEM Font Variables */
.nissan-brand-lt {
font-family: "nissan-light" !important; 
font-weight: 300 !important;
}

.nissan-brand-rg {
font-family: "nissan-brand-regular" !important;
font-weight: 400 !important;
}

.acs-bold {
font-family: var(--bold-font);   
font-weight: 700;
}
/* OEM Font Variables */



/* Variables */
.acs-wrapper {
--accent: #C2002F;
--accent2: #8e0122;
--black: #000000; 
--white: #ffffff; 
--gray: #F6F6F6; 
--gray2: #EEEEEE;
--gray3: #c5c5c5;
--gray4: #F1F1F1;
--dark: #2d2d2d; 
--dark2: #666666;
--dark3: #343434;
--bold-font: "nissan-bold", sans-serif;
}
/* Variables */



/* Text Colors */
.acs-gray {
color: var(--gray)
}
.acs-gray2 {
color: var(--gray2)
}
.acs-gray3 {
color: var(--gray3)
}
.acs-gray4 {
color: var(--gray4)
}
.acs-dark {
color: var(--dark)
}
.acs-dark2 {
color: var(--dark2)
}
.acs-dark3 {
color: var(--dark3)
}
/* Text Colors */



/* Accent Colors */
.acs-accent {
color: var(--accent)
}
.acs-accent2 {
color: var(--accent2)
}
/* Accent Colors */



/* BG Colors */
.acs-bg-accent {
--acs-bg-opacity: 1;
background-color: var(--accent);
background-color: rgba(194,0,47, var(--acs-bg-opacity))
}
.acs-bg-accent2 {
--acs-bg-opacity: 1;
background-color: var(--accent2);
background-color: rgba(142,1,34, var(--acs-bg-opacity))
}
.acs-bg-gray {
--acs-bg-opacity: 1;
background-color: var(--gray);
background-color: rgba(246,246,246, var(--acs-bg-opacity))
}
.acs-bg-gray2 {
--acs-bg-opacity: 1;
background-color: var(--gray2);
background-color: rgba(238,238,238, var(--acs-bg-opacity))
}
.acs-bg-gray3 {
--acs-bg-opacity: 1;
background-color: var(--gray3);
background-color: rgba(196,197,196, var(--acs-bg-opacity))
}
.acs-bg-gray4 {
--acs-bg-opacity: 1;
background-color: var(--gray4);
background-color: rgba(241,241,241, var(--acs-bg-opacity))
}
.acs-bg-dark {
--acs-bg-opacity: 1;
background-color: var(--dark);
background-color: rgba(45,45,45, var(--acs-bg-opacity))
}
.acs-bg-dark2 {
--acs-bg-opacity: 1;
background-color: var(--dark2);
background-color: rgba(102,102,102, var(--acs-bg-opacity))
}
.acs-bg-dark3 {
--acs-bg-opacity: 1;
background-color: var(--dark3);
background-color: rgba(52,52,52, var(--acs-bg-opacity))
}
/* BG Colors */



/* Link Accent */
.acs-link-accent {
text-decoration: none;
color: inherit !important;
transition: all 0.2s ease-in-out 0s;
}
.acs-link-accent:hover {
text-decoration: underline;
}

.acs-link-accent2 {
text-decoration: none;
color: inherit !important;
transition: all 0.2s ease-in-out 0s;
}
.acs-link-accent2:hover {
text-decoration: underline;
}

.acs-link-accent3 {
color: var(--accent);
text-decoration: none;
transition: all 0.2s ease-in-out 0s;
}
.acs-link-accent3:hover {
color: var(--accent2);
text-decoration: underline;
}
/* Link Accent */



/* Link Accent Icon */
.acs-link-accent-icon {
display: inline-flex;
-moz-osx-font-smoothing: grayscale;
position: relative;
padding-right: 2.5em;
margin-right: -1.1em
}
.acs-link-accent-icon::after {
font-family: FontAwesome;
font-size: .7857142857rem;
content:"\f054";
right: 15px;
top: 20%;
overflow: hidden;
margin-top: 0;
position: absolute;
padding-right: .5em;
padding-left: .5em;
}
/* Link Accent Icon */



/* BUTTONS: START */
/* Button 1 */
.acs-button {
background-color: var(--accent);
display: inline-block;
text-align: center;
color: var(--white);
text-decoration: none !important;
padding: 20px;
line-height: 1;
text-transform: uppercase;
font-size: .8125rem;
letter-spacing: .5px;
min-width: 180px;
transition: ease-in-out 0.3s;
}
.acs-button:hover {
background-color: var(--accent2);
color: var(--white);
}

/* Button 2 */
.acs-button2 {
background-color: var(--black);
display: inline-block;
text-align: center;
color: var(--white);
text-decoration: none !important;
padding: 20px;
line-height: 1;
text-transform: uppercase;
font-size: .8125rem;
letter-spacing: .5px;
min-width: 180px;
transition: ease-in-out 0.3s;
}
.acs-button2:hover {
background-color: var(--dark);
color: var(--white);
}

/* Button 3 */
.acs-button3 {
background-color: var(--gray2);
display: inline-block;
text-align: center;
color: var(--dark);
text-decoration: none !important;
padding: 20px;
line-height: 1;
text-transform: uppercase;
font-size: .8125rem;
letter-spacing: .5px;
min-width: 180px;
transition: ease-in-out 0.3s;
}
.acs-button3:hover {
background-color: var(--gray3);
color: var(--accent);
}

/* Button 4 */
.acs-button4 {
background-color: transparent;
display: inline-block;
text-align: center;
color: var(--black);
border: solid 1px var(--black);
text-decoration: none !important;
padding: 20px;
line-height: 1;
text-transform: uppercase;
font-size: .8125rem;
letter-spacing: .5px;
min-width: 180px;
transition: ease-in-out 0.3s;
}
.acs-button4:hover {
background-color: var(--accent);
color: var(--white);
border: solid 1px var(--accent);
}

/* Button 5 */
.acs-button5 {
background-color: transparent;
display: inline-block;
text-align: center;
color: var(--white);
border: solid 1px var(--white);
text-decoration: none !important;
padding: 20px;
line-height: 1;
text-transform: uppercase;
font-size: .8125rem;
letter-spacing: .5px;
min-width: 180px;
transition: ease-in-out 0.3s;
}
.acs-button5:hover {
background-color: var(--accent);
color: var(--white);
border: solid 1px var(--accent);
}

/* Button 6 */
.acs-button6 {
background-color: var(--white);
display: inline-block;
text-align: center;
color: var(--dark);
text-decoration: none !important;
padding: 20px;
line-height: 1;
text-transform: uppercase;
font-size: .8125rem;
letter-spacing: .5px;
min-width: 180px;
transition: ease-in-out 0.3s;
}
.acs-button6:hover {
background-color: var(--gray3);
color: var(--accent);
}

/* Button 7 */
.acs-button7 {
background-color: var(--gray4);
display: inline-block;
text-align: center;
color: var(--accent);
text-decoration: none !important;
padding: 20px;
line-height: 1;
text-transform: uppercase;
font-size: .8125rem;
letter-spacing: .5px;
min-width: 180px;
transition: ease-in-out 0.3s;
}
.acs-button7:hover {
background-color: var(--accent);
color: var(--white);
}
/* BUTTONS: END */



/* Nissan Icon */
.acs-nissan-icon {
display: inline-flex;
-moz-osx-font-smoothing: grayscale;
position: relative;
padding-right: 4em;
}
.acs-nissan-icon::after {
font-family: FontAwesome;
font-size: .7857142857rem;
content:"\f054";
right: 15px;
top: 52%;
overflow: hidden;
margin-top: -.5em;
position: absolute;
padding-right: .5em;
padding-left: .5em;
}
/* Nissan Icon */



/* Nissan Icon Red */
.acs-nissan-icon-red {
display: inline-flex;
-moz-osx-font-smoothing: grayscale;
position: relative;
padding-right: 4em;
}
.acs-nissan-icon-red::after {
font-family: FontAwesome;
font-size: .7857142857rem;
content:"\f054";
color: var(--accent);
right: 15px;
top: 52%;
overflow: hidden;
margin-top: -.5em;
position: absolute;
padding-right: .5em;
padding-left: .5em;
}
/* Nissan Icon Red */



/* DDC MASTHEAD TAGLINE TEMPLATE FIX */
.page-header.responsive .value-statement {
margin: -7px 0 0 150px !important;
}
/* DDC MASTHEAD TAGLINE TEMPLATE FIX */
